# See https://help.github.com/ignore-files/ for more about ignoring files.

# testing
/coverage

# production
/build

.css

# config
.vscode

# misc
.DS_Store

# python
*.pyo
*.pyc
.venv
.pytest_cache

*.png
