.footer {
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #333333;
}

.footer__text {
  @media (max-width: 800px) {
    grid-column: 1/4;
    margin: 0 64px;
  }
}

.expand-list__button {
  cursor: none;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
  transition: 0.25s;
  background-color: #333333;
  border: none;
}

.expand-list__button:focus {
  outline: none;
}

.expand-list__text {
  color: inherit;
  font-size: 1.5rem;
  color: gray;
  transition: 0.15s;
}

.expand-list__text:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}
