.article-list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  transition: 0.15s;
}

.article-list__grid {
  display: grid;
  grid-template-columns: 1fr 20px 50% 25%;
  grid-template-rows: 1fr 1fr;
}

.article-list-headline {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  color: gray;
  overflow: hidden;
  display: flex;
  height: 11vh;
  flex-direction: column;
  transition: height 1s;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 50%;
  transition: 0.15s;
}

.article-list-headline:hover {
  height: 100%;
  font-size: 1.2em;
}

.article-list__link:visited {
  color: #333333;
}

.article-list__date {
  color: white;
  align-self: start;
  font-size: 12px;
  writing-mode: vertical-lr;
  text-align: left;
  grid-column: 2/3;
  grid-row: 1/2;
}

.article-list__link {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/2;
}

.article-list__abstract {
  font-size: 12px;
  line-height: 0.6cm;
  color: gray;
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
