.article-list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}

.article-list__header {
  background-color: #ffffff;
  font-family: "Overpass", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.article-list__date {
  color: white;
  text-align: right;
  width: 50px;
  text-indent: 35px;
  font-size: 12px;
  margin-left: 22%;
  transform: rotate(90deg);
}

.article-list__introduction {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  font-size: 12px;
  line-height: 0.6cm;
  color: white;
}
