@keyframes colorTrans {
  from {
    color: #333333;
  }
  to {
    color: red;
  }
}

.article-list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}

.article-list__header {
  background-color: #ffffff;
  font-family: "Overpass", sans-serif;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
  height: 5em;
  width: 50%;
  transition: height 1s;
  margin-right: 25%;
}

.article-list__link:visited {
  color: #333333;
}

.article-list__header:hover {
  height: 7.5em;
  animation-name: colorTrans;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.article-list__date {
  color: white;
  text-align: right;
  width: 5%;
  display: inline-block;
  text-indent: 35px;
  font-size: 12px;
  margin-left: 21%;
  transform: rotate(90deg);
}

.article-list__link {
  margin-left: 25%;
  margin-right: 25%;
}

.article-list__introduction {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  font-size: 12px;
  line-height: 0.6cm;
  color: white;
}
