.home {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 5px 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
}

.articles {
  background-color: white;
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.articles__left {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.articles__summary {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.articles__right {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
