.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 5px 1fr 1fr 1fr;
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
}

.main__item {
  overflow: hidden;
  min-width: 0;
}

.home {
  height: 100vh;
}

.articles {
  background-color: white;
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 10px 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.articles__left {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.articles__headline {
  grid-column: 3/4;
  grid-row: 1/4;
}

.articles__date {
  font-size: 1em;
  transform: rotate(90deg);
  text-align: right;
  transform-origin: left top 0;

}

.articles__summary {
  font-family: "Overpass", sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.articles__summary:hover {
  text-shadow: 1px 1px gray;
}

.articles__subtitle {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.articles__right {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
