.footer {
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #333333;
}

.footer__text {
  color: white;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1em;
  text-align: center;
}

.expand-list__button {
  cursor: none;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
  transition: 0.25s;
  border: 2px solid black;
}

.expand-list__button:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

.expand-list__text {
  margin-left: 2px;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.expand-list__text--no-spacing {
  margin-left: 0;
  letter-spacing: 0;
}
