.footer {
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #333333;
}

.footer__text {
  color: white;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1em;
  text-align: center;
}

.footer__arrow {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

.footer__icon {
  color: black;
  // The Material UI Icons have a specific override behaviour shown here: https://material-ui.com/components/transitions/#transitions
  // As they are hopefully placeholders we'll simply set this as important
  transition: 0.6s !important;
}

.footer__icon--flipped {
  transform: rotate(180deg);
}

.footer__icon:hover {
  color: white;
}
