@keyframes colorTrans {
  from {
    color: #333333;
  }
  to {
    color: red;
  }
}

.article-list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}

.article-list__grid {
  display: grid;
  grid-template-columns: 1fr 20px 50% 25%;
  grid-template-rows: 1fr 1fr 1fr;
}

.article-list-headline {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  height: 11vh;
  flex-direction: column;
  transition: height 1s;
  font-family: "Overpass", sans-serif;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 50%;
}

.article-list-headline:hover {
  height: 100%;
  border-top-color: red;
  animation-name: colorTrans;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.article-list__link:visited {
  color: #333333;
}

.article-list__date {
  color: white;
  align-self: start;
  font-size: 12px;
  writing-mode: vertical-lr;
  text-align: left;
  grid-column: 2/3;
  grid-row: 1/2;
}

.article-list__link {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/2;
}

.article-list__introduction {
  font-size: 12px;
  line-height: 0.6cm;
  color: white;
  grid-column: 3/4;
  grid-row: 2/3;
}
